body {
    background-color: #FFE4E1;
}
h1 {
    color: maroon;
}
p {
    color: red;
}

div.topbar {
    background-color: green;
    font-size: 22px;
    color: white;
    margin: 0px 0 0px 0;
    padding: 0px;
}

div.footer {
        background-color: gray;
        color: white;
        margin: 0px 0 0px 0;
        padding: 20px;
}

div.textclass {
  color: maroon;
  padding: 5px;
  font: times;
  font-size: 18px;
}
